@media screen and (min-width: 800px) {
    .searchInput {
        width: 80vw;
        max-width: 500px;
        padding: 3px 22px 3px 3px;
        margin: 5px 0;
        border: 2px solid lightgray;
    }
}

@media screen and (max-width: 800px) {
    .searchInput {
        width: calc(80vw - 45px);
        padding: 3px 22px 3px 3px;
        margin: 5px 0;
        border: 2px solid lightgray;
    }
}
